
body {
    margin: 0;
}

#CardTable {
    height: auto;
    text-align: center;
    background-color: rgb(44, 5, 5);
    color: white;
    box-shadow: 0 0 10px 10px rgba(241, 235, 235, 0.2);
    transition: 0.10s;
    justify-items: center;
}

#CardTable:hover {
    color: black;
    cursor: pointer;
    transform: scale(1.08);
    transition: transform .5s;
    
    /* Apply zoom animation */
    background: #5e5c5a;
    border: 3px solid #530a0a;

    -webkit-animation: smoothCriminal 20s ease infinite;
    -moz-animation: smoothCriminal 20s ease infinite;
    animation: smoothCriminal 20s ease infinite;
    font-weight: bold;
}

#logo {
    height: 7vh;
    display:block;
    margin-right:auto;
}

#appBar {
    background: rgb(78, 2, 2);
    margin: auto;
}

#CellarText {
    text-align: center;
    font-family: 'Butcherman', cursive;
    color: black;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(121, 7, 7);
}

#LogoutBtn {
    font-family: 'Butcherman', cursive;
    font-size: 25px;
    border-Radius: 3;
    border: 1px solid white;
    color: white;
    padding: 0 28px;
}

#displayCard {
    /* background-color: darkgrey; */
    width: 50%;
    height: 50%;

}

#ishIcons {
    color: whitesmoke;
    padding: 0;
    margin: 0;
}


